:root{
  --clr-primary: hsl(215, 51%, 70%);
  --clr-secondary: hsl(178, 100%, 50%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(215, 32%, 27%);
  --clr-neutral-500: hsl(216, 50%, 16%);
  --clr-neutral-600: hsl(217, 54%, 11%);

  --font-family: 'Outfit', sans-serif;
  
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body{
  background-color: var(--clr-neutral-600);
  margin: 1rem 1rem;
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  color: var(--clr-primary);

}

section{
  background-color: var(--clr-neutral-500);
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 0 63px #0000008c;
  display: grid;
  gap: 20px;
}

@media (min-width: 600px){
  main{
    max-width: 350px;
  }
}

.images{
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.view{
  position: absolute;
  background: hsl(178deg 100% 50% / 37%);
  opacity: 0;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.view:hover,
.view:focus{
  opacity: 1;
  cursor: pointer;
}

h1{
  color: var(--clr-neutral-100);
  font-weight: var(--fw-600);
  transition: 0.4s;
  font-size: 1.55rem;
}

h1:hover,
h1:focus{
  color: var(--clr-secondary);
  cursor: pointer;
}

.desc{
  color: var(--clr-primary);
  font-weight: var(--fw-300);
}

.info{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.price,
.days{
  display: flex;
  align-items: center;
  gap: 5px;
}

.price span{
  color: var(--clr-secondary);
  font-weight: var(--fw-400);
}

.days p{
  color: var(--clr-primary);
}

hr{
  border: solid var(--clr-neutral-400) 0.1px;
}

.creator{
  display: flex;
  align-items: center;
}

.creator img{
  border:solid 1px white;
  border-radius: 50%;
  width: 35px;
  margin-right: 15px;
}

.creator  p:first-of-type{
  color: var(--clr-primary);
}

.creator  p:nth-child(3){
  transition: 0.4s;
  color: var(--clr-neutral-100);
}

.creator  p:nth-child(3):hover,
.creator  p:nth-child(3):focus{
  color: var(--clr-secondary);
  cursor: pointer;
}

footer{
  margin-top: 10px;
  text-align: end;
}

footer a{
  text-decoration: none;
  color: var(--clr-secondary);
  font-size: var(--fs-500);
}

@media (min-width: 600px){
  footer{
    max-width: 350px;
  }
}